@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: transparent !important;
  overflow: hidden;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}